<div class="instagram-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="instagram-account">
              <div class="widget-content">
                <div class="widget-header">
                  <h4><a href="#">@shareenBlog</a></h4>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="instagram-item">
                      <img src="/images/instagram-footer-01.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="instagram-item">
                      <img src="/images/instagram-footer-02.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="instagram-item">
                      <img src="/images/instagram-footer-03.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="instagram-item">
                      <img src="/images/instagram-footer-04.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="footer-social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
              <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fa fa-behance"></i> Behance</a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i> Linkedin</a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>all rights reserved. <a href="#">robert imeri</a> 2020.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- Scripts -->
    <script src="/scripts/vendors/jquery-3.4.1.min.js"></script>
    <script src="/scripts/vendors/jquery.hoverIntent.min.js"></script>
    <script src="/scripts/vendors/perfect-scrollbar.min.js"></script>
    <script src="/scripts/vendors/jquery.easing.min.js"></script>
    <script src="/scripts/vendors/wow.min.js"></script>
    <script src="/scripts/vendors/parallax.min.js"></script>
    <script src="/scripts/vendors/isotope.min.js"></script>
    <script src="/scripts/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="/scripts/vendors/packery-mode.pkgd.min.js"></script>
    <script src="/scripts/vendors/owl-carousel.min.js"></script>
    <script src="/scripts/vendors/jquery.appear.js"></script>
    <script src="/scripts/vendors/jquery.countTo.js"></script>
    <script src="/scripts/main.js"></script>


  </body>

<!-- Mirrored from buttoncreative.agency/html/shareen/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:04:24 GMT -->
</html>
