<div class="main-banner">
      <div class="container expanded">
        <div class="owl-big-banner owl-carousel">
          <div class="item">
            <div class="overlay"></div>
            <img src="/images/big-banner-01.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="single-standard-post.html"><h4>tousled <em>subway</em> chartreuse</h4></a>
                <ul class="post-info">
                  <li><a href="#">January 10, 2020</a></li>
                  <li><a href="#">6 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="overlay"></div>
            <img src="/images/big-banner-02.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="single-standard-post.html"><h4>mumblecore <em>pressed</em> hashtag</h4></a>
                <ul class="post-info">
                  <li><a href="#">January 10, 2020</a></li>
                  <li><a href="#">3 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="overlay"></div>
            <img src="/images/big-banner-03.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Beauty</span>
                </div>
                <a href="single-standard-post.html"><h4>iceland <em>franzen</em> asymmetrical</h4></a>
                <ul class="post-info">
                  <li><a href="#">January 10, 2020</a></li>
                  <li><a href="#">5 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="overlay"></div>
            <img src="/images/big-banner-04.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="single-standard-post.html"><h4>locavore <em>actually</em> vexillologist</h4></a>
                <ul class="post-info">
                  <li><a href="#">January 10, 2020</a></li>
                  <li><a href="#">8 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>